<!DOCTYPE html>
<html>
<head>
    <title>GeoRadar Status</title>
    <script>
        var ws;
        function connect() {
            ws = new WebSocket('ws://localhost:8080/ws/georadars');
            ws.onmessage = function(event) {
                var messages = document.getElementById('messages');
                var message = document.createElement('li');
                var content = document.createTextNode(event.data);
                message.appendChild(content);
                messages.appendChild(message);
            };
        }

        function disconnect() {
            if (ws != null) {
                ws.close();
            }
            console.log('Disconnected');
        }

        window.onload = function() {
            connect();
        };
    </script>
</head>
<body>
<ul id="messages"></ul>
<button onclick="disconnect()">Disconnect</button>
</body>
</html>
